body {
  background: linear-gradient(#050b1e, #000);
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #0d1b2a;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.lista .linha {
  display: grid;
  grid-template-columns: 1fr 90px 90px;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}

.lista span {
  font-size: 15px;
}

.lista input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: none;
  text-align: center;
}

.lista button {
  background: #00c853;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 8px;
  font-weight: bold;
}

.voz {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #1db954;
  border-radius: 12px;
  border: none;
}
